#!/bin/zsh

# Shortcuts
alias dl="cd ~/Downloads"
alias cdlog='cd /var/log'

alias vi=vim

# Detect which `ls` flavor is in use
if is_mac_os; then
  colorflag="-G"
else
  colorflag="--color"
fi

# List all files colorized in long format
alias l="exa -lF"

# List all files colorized in long format, including dot files
alias la="exa -laF"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command exa -lF"

# Always enable colored `grep` output
alias grep='grep --color=auto '

# Get week number
alias week='date +%V'

# vhosts
alias hosts='sudo vim /etc/hosts'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# Human readable format
alias du='du -h'
alias df='df -h'

# edit zsh config
alias zshconfig="vi ~/.zshrc"

# dockerize application
alias texmaker='docker run -it --rm=true -e USER=$USER -e USERID=$UID -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME:/home/texmaker -e DISPLAY=unix$DISPLAY  --device /dev/dri --name texmaker jgiovaresco/texmaker'

# force tmux to render correctly
alias tmux="TERM=screen-256color-bce tmux -u2"
# Hubic
#HUBIC_STATE=`hubic status | grep State | sed "s/State: //g"`
#alias hubic_login='[[ $HUBIC_STATE == "NotConnected" ]] && hubic login --password_path=./.config/hubiC/.hubicpwd $HUBIC_USERNAME'

alias doc="docker-compose"

alias rhc='docker run --rm -it --volumes-from rhc-data ecarre/rhc'

alias k='kubectl'
# Manage configuration quickly to switch contexts between local, dev ad staging.
alias kcuc='k config use-context'
alias kcsc='k config set-context'
alias kcdc='k config delete-context'
alias kccc='k config current-context'

# pods
alias kgpon='kubectl get pods --namespace'

# replica set
alias kgren='kubectl get replicaset --namespace'

# Deployment management.
alias kgdn='k get deployment --namespace'
alias kddn='k describe deployment --namespace'
alias ksdn='k scale deployment --namespace'
