[Unit]
Description=bind container
Documentation=https://github.com/sameersbn/bind
After=docker.service
Requires=docker.service

[Service]
# Turn off timeouts
TimeoutStartSec=0
# Enable automatic restart when container stops
Restart=always
# Start bind container when service starts
ExecStart=/usr/local/bin/systemd-docker run --rm --dns=127.0.0.1 -p 53:53/udp -p 10000:10000  -v /srv/bind:/data -e ROOT_PASSWORD="SecretPassword" --name %n sameersbn/bind
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
