[Unit]
Description=deluge-web container
Documentation=https://github.com/jgiovaresco/docker-deluged
After=deluged.service
Requires=docker.service

[Service]
# Turn off timeouts 
TimeoutStartSec=0
# Enable automatic restart when container stops
Restart=always 
# Start deluged container when service starts
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
	-p 8112:8112 -v /var/downloads/deluge/deluge-web-config:/config \
	--link deluged.service jgiovaresco/deluge-web
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
